# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!gtestd.lib
!gtest_main-mdd.lib

# Executables
*.exe
*.out
*.app

# C# files


# Temporary build directory
TemporaryGeneratedFile*.cs
*.cache
*.suo

*.sdf
*.opensdf
*Debug
*/ipch
!*/lib/MyoSharp.dll
!*/lib/x64/myo.dll
!*/lib/x86/myo.dll
